<h1>Create a Team and Heroes!</h1>
<form class="" action="/team" method="post">
  <p>Team Name: <input type="text" name="team[name]"> </br>
     Team Motto: <input type="text" name="team[motto]"> </p>
  <h2>Hero 1</h2>
  <p>Hero's Name: <input type="text" name="team[members][][name]"></br>
     Hero's Power: <input type="text" name="team[members][][name]"></br>
     Hero's Biography: <input type="text" name="team[members][][name]"> </p>
  <h2>Hero 2</h2>
  <p>Hero's Name: <input type="text" name="team[members][][name]"></br>
     Hero's Power: <input type="text" name="team[members][][name]"></br>
     Hero's Biography: <input type="text" name="team[members][][name]"> </p>
  <h3>Hero 3</h3>
  <p>Hero's Name: <input type="text" name="team[members][][name]"></br>
     Hero's Power: <input type="text" name="team[members][][name]"></br>
     Hero's Biography: <input type="text" name="team[members][][name]"> </p>
  <p><input type="submit" id="Submit"> </p>

</form>
