<h1>Create a Team and Heroes!</h1>
<form class="" action="/team" method="post">
  <p>Team Name: <input type="text" name="team[name]"> </br>
     Team Motto: <input type="text" name="team[motto]"> </p>
  <h2>Hero 1</h2>
  <p>Hero's Name: <input type="text" name="team[members][][name]"></br>
     Hero's Power: <input type="text" name="team[members][][name]"></br>
     Hero's Biography: <input type="text" name="team[members][][name]"> </p>
  <h2>Hero 2</h2>
  <p>Hero's Name: <input type="text" name="hero_name_2"> </br>
     Hero's Power: <input type="text" name="hero_pow_2"> </br>
     Hero's Biography: <input type="text" name="hero_bio_2"> </p>
  <h3>Hero 3</h3>
  <p>Hero's Name: <input type="text" name="hero_name_3"> </br>
     Hero's Power: <input type="text" name="hero_pow_3"> </br>
     Hero's Biography: <input type="text" name="hero_bio_3"> </p>
  <p><input type="submit" id="Submit"> </p>
  
</form>